Django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.3
psycopg2-binary>=2.9
dj-database-url>=2.1.0
python-dotenv>=1.0.0
flake8>=6.0.0
black>=23.0.0
djangorestframework-simplejwt>=5.3.1
Pillow>=10.0.0
